<div  id="About" class="flex flex-col m-32 gap-32 font-mono">
  <div
    class="flex flex-row border-1 rounded-4xl border-amber-50 w-3/4 justify-between bg-cyan-950 shadow-[0_0_15px_3px_rgba(255,255,255,0.5)] h-[120px]"
  >
    <p class="text-white justify-center items-center flex pl-10 text-[20px]">
      Pagina para cliente
    </p>
    <p class="text-white text-[12px] flex items-center w-[50%]">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
      perspiciatis nihil, provident numquam sunt ad, ullam officiis vero a nemo
      eaque, esse laborum quae recusandae alias minima eius assumenda maiores?
    </p>
    <div class="flex items-center pr-7">
      <img class="w-[100px] h-[100px] rounded-full bg-white" alt="" />
    </div>
  </div>
  <div class="flex justify-end">
    <div
      class="flex flex-row border-1 rounded-4xl border-amber-50 w-3/4 justify-between bg-cyan-950 h-[120px] shadow-[0_0_15px_3px_rgba(255,255,255,0.5)]"
    >
      <p class="text-white justify-center items-center flex pl-10 text-[20px]">
        Pagina para cliente
      </p>
      <p class="text-white text-[12px] flex items-center w-[50%]">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
        perspiciatis nihil, provident numquam sunt ad, ullam officiis vero a
        nemo eaque, esse laborum quae recusandae alias minima eius assumenda
        maiores?
      </p>
      <div class="flex items-center pr-7">
        <img class="w-[100px] h-[100px] rounded-full bg-white" alt="" />
      </div>
    </div>
  </div>
  <div
    class="flex flex-row border-1 rounded-4xl border-amber-50 w-3/4 justify-between shadow-[0_0_15px_3px_rgba(255,255,255,0.5)] bg-cyan-950 h-[120px]"
  >
    <p class="text-white justify-center items-center flex pl-10 text-[20px]">
      Pagina para cliente
    </p>
    <p class="text-white text-[12px] flex items-center w-[50%]">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
      perspiciatis nihil, provident numquam sunt ad, ullam officiis vero a nemo
      eaque, esse laborum quae recusandae alias minima eius assumenda maiores?
    </p>
    <div class="flex items-center pr-7">
      <img class="w-[100px] h-[100px] rounded-full bg-white" alt="" />
    </div>
  </div>
</div>
