---
import "../styles/global.css";
---
<ul class="gap-32 justify-center flex text-2xl text-white h-32 m-7 ackdrop-opacity-80">
  <a href="">Home</a>
  <a href="">About</a>
  <a href="">Contact</a>
</ul>
