---
import "../styles/global.css";
---

<div
  id="Home"
  class="flex justify-center gap-14 items-center font-mono h-[350px]"
>
  <p class="text-white text-4">
    <span class="text-4xl"> Hola, soy Franco Pastor.</span><br />
    <span class="text-red-400"
      >Cuento con 1 año de experiencia desarrollando webs y app mobile.</span
    ><br />
    <span class="opacity-80"> Soluciono tus problemas ;) </span>
  </p>
      <a href="/public/Francoleonelpastorbanegas.pdf" download=""  class="inline-flex items-center gap-2 text-blue-400 hover:text-blue-600"
        >Descargar CV 
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
          ></path>
        </svg>
      </a>
  <img
    class="rounded-full w-40 h-40 shadow-[0_0_15px_2px_rgba(255,255,255,0.5)]"
    src="/assets/foto.jpg"
    alt=""
  />
</div>
