---
import "../styles/global.css";
---


<div class="flex justify-center gap-14 items-center font-mono h-[350px] ">
  <p class="text-white text-4">
    <span class="text-4xl"> Hola, soy Franco Pastor.</span><br />
    <span class="text-red-400"
      >Cuento con 1 año de experiencia desarrollando webs y app mobile.</span
    ><br />
    <span class="opacity-80"> Soluciono tus problemas ;) </span>
  </p>
  <img class="rounded-full w-40 h-40 shadow-[0_0_15px_2px_rgba(255,255,255,0.5)]
 " src="/assets/foto.jpg" alt="" />
</div>